/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-ago-2016, 12.07.37
    Author     : amm
*/

/*
Nel CSS, impostare il font per l'elemento body con i seguenti parametri:
Grandezza 14 pixel
Carattere 'Open Sans'
In caso il browser non abbia il font precedente, impostare Arial
Nel caso il browser non abbia il font precedente, impostare sans-serif
Colore nero
*/
body
{
    font-size: 14px;
    font-family: "Open Sans", Arial, sans-serif;
    color: black;
}

/*
Impostare il colore di sfondo per l'elemento con id logo con il 
seguente valore esadecimale #1c345a.
Impostare il colore del testo per l'elemento con id header a bianco. 
Ripetere la stessa operazione con l'elemento avente id footer.
Combinare il selettore scritto per l'elemento con id header e 
quello con id footer in una regola unica. 
*/
#logo
{
    background-color: #1c345a;
}
#header, #footer
{
    color: white;
}

/*
Task 3
Fare in modo che il testo degli elementi di classe current_page_item risulti in grassetto.
*/
.current_page_item
{
	font-weight: bold;
}

/*
Task 4
Fare in modo che gli h2 contenuti nel div con id content siano visualizzati con il seguente colore esadecimale #9e1616.
*/
div#content h2
{
	color:#9e1616;
}

/*
Task 5
Impostare a #1c345a il colore di tutti i tag h (da h1 ad h6) con una sola regola.
*/
h2,h3,h4,h5,h6
{
	color: white;
}

/*
Task 6
Impostare a #9e1616 il colore di tutti i link, sia quelli visitati che quelli non visitati. Inoltre, fare in modo che il testo sia sottolineato e in grassetto quando il 
mouse passa sopra il link.
*/
a:link, a:visited
{
	color:#9e1616;
}
a:hover
{
	text-decoration:underline;
}
/*
Task 7
Impostare a #1c345a il colore dei link che hanno come l'attributo href esattamente uguale a studente_esami.html.
*/
a[href="studente_esami.html"]:link{
    color:#1c345a;
}

/*Vogliamo fare in modo che il titolo della pagina mostri il logo dell'Università alla sinistra del testo. Solo che, essendo semplicemente un'immagine decorativa che non aggiunge informazione al titolo, non vogliamo utilizzare il tag img. Questo è un consiglio generale: non inserite le immagini puramente decorative nel markup. Potreste sempre eliminarle su un altro CSS, senza dover modificare la vostra pagina.
Per far ciò, impostiamo l'immagine di sfondo per il tag h1 all'interno del div con id logo. Salvate in locale l'immagine http://spano.sc.unica.it/davide/esami/images/logo.jpg ed impostate gli attributi corrispondenti alle seguenti descrizioni:
immagine di sfondo: l'immagine che avete salvato
nessuna ripetizione dello sfondo
immagine di sfondo centrata verticalmente
immagine di sfondo posizionata a sinistra orizzontalmente
A questo punto l'immagine risulterà sovrapposta al testo. Per evitare questo, impostate il padding del box relativo in modo che non si sovrappongano.
*/

div#logo h1 {
    background-image: url('./logo.jpg');
    background-repeat: no-repeat;
    background-position: center left;
    height: 98px;
    padding-left: 100px;
    vertical-align: middle;
    line-height: 100px;
}
